@charset "UTF-8";
/* Colores */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
.flex-column, .lateral, .main--index, .galeria__tarjeta {
  display: flex;
  flex-direction: column; }

.flex-items-center, footer, .main--index, .galeria__tarjeta {
  display: flex;
  align-items: center; }

/* Íconos Bootstrap */
/* Reset CSS */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  color: #302f4e; }

a {
  text-decoration: none; }

/* Estilo Footer */
footer {
  background-color: #302f4e;
  padding: 16px;
  color: #ee8968;
  justify-content: space-between;
  flex-wrap: wrap; }
  footer .footer__logo {
    height: 70px; }
  footer .footer__icono {
    width: 35px;
    margin: 10px; }

/* Estilo Header */
header {
  background-color: #302f4e; }
  header .header {
    /* Menú de navegación */ }
    header .header__logo {
      width: 16.55rem;
      padding: 1rem; }
    header .header__navegacion {
      display: flex;
      justify-content: flex-end; }
    header .header__item {
      font-size: 1.25rem;
      font-weight: 700;
      color: #ee8968; }
      header .header__item:hover {
        text-decoration: underline;
        color: #ee8968; }

.img__lupa {
  height: 1.5rem; }

.btn {
  border: #ee8968 1px solid; }
  .btn:hover {
    background-color: #ee8968;
    border: #ee8968 1px solid; }

/* Estilo Menú Lateral */
.lateral {
  width: 30vw;
  padding: 1rem;
  margin-top: 3.125rem; }
  .lateral h2 {
    text-decoration: underline; }
  .lateral__lista {
    list-style: none; }
    .lateral__lista li {
      padding: 0.6rem 0;
      font-size: 1rem; }
      .lateral__lista li a {
        color: #302f4e;
        font-weight: 700; }
        .lateral__lista li a:hover {
          background-color: #302f4e;
          padding: 0.2rem;
          border-radius: 0.3rem;
          color: #ee8968;
          transition: all 0.5s; }

/* Estilo Main Index */
.main--index h1 {
  font-weight: 600;
  margin: 1.25rem 0 3.15rem 0;
  color: #302f4e; }

/* Estilo Categorias Index*/
.categorias {
  width: 85vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "gam arq ofi";
  align-items: center;
  justify-items: center;
  padding: 1rem; }
  .categorias__gam {
    grid-area: gam; }
  .categorias__arq {
    grid-area: arq; }
  .categorias__ofi {
    grid-area: ofi; }
  .categorias__img {
    height: 15vw;
    width: auto; }
    .categorias__img:hover {
      transform: scale(1.15, 1.15);
      transition: all 0.25s; }
  .categorias__titulo {
    text-align: center;
    color: #ee8968;
    background-color: #302f4e;
    border-radius: 0.6rem; }
    .categorias__titulo:hover {
      border: solid #ee8968 5px;
      transition: all 0.25s; }
  .categorias__tarjeta--gaming {
    grid-area: gam; }
  .categorias__tarjeta--arquitectura {
    grid-area: arq; }
  .categorias__tarjeta--oficina {
    grid-area: ofi; }

/* Estilo info index */
.info {
  margin: 6rem 0 6rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "envios garantia credito telefono";
  gap: 10px; }
  .info__envios {
    grid-area: envios; }
  .info__garantia {
    grid-area: garantia; }
  .info__credito {
    grid-area: credito; }
  .info__telefono {
    grid-area: telefono; }
  .info__tarjetas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.01rem;
    padding: 0.6px;
    width: 13.1rem; }
    .info__tarjetas p {
      font-weight: 900;
      padding: 0.6rem; }

.icono {
  font-size: 2rem; }

/* Estilo Categorías */
.galeria--cat {
  display: grid;
  grid-template-columns: repeat 3, 1fr;
  grid-template-rows: auto;
  grid-template-areas: "productos productos productos" "cat1 cat2 cat3" "cat4 cat5 cat6" "cat7 cat8 cat9";
  margin: 1.25rem;
  gap: 1vw; }

.cat1 {
  grid-area: cat1; }

.cat2 {
  grid-area: cat2; }

.cat3 {
  grid-area: cat3; }

.cat4 {
  grid-area: cat4; }

.cat5 {
  grid-area: cat5; }

.cat6 {
  grid-area: cat6; }

.cat7 {
  grid-area: cat7; }

.cat8 {
  grid-area: cat8; }

.cat9 {
  grid-area: cat9; }

/* Estilo Contacto */
.formulario__textarea {
  height: 500px; }

/* Mapa */
.mapa {
  width: 100%;
  height: 75vh; }

/* Estilo Galería */
.galeria--prod {
  display: grid;
  grid-template-columns: repeat 3, 1fr;
  grid-template-rows: auto;
  grid-template-areas: "productos productos productos" "aspire inspirion thinkpad" "macbook zbook surfacebook" "stealth blade notebook_9" "zephyrus legion predator" "nitro strix tuf" "aero aorus katana" "vivobook pavilion ideapad" "swift max cloudbook" "v15 modern flash";
  margin: 1.2rem;
  gap: 1vw; }

.titulo--prod {
  grid-area: productos;
  text-align: center;
  font-size: 2.5rem; }

.aspire {
  grid-area: aspire; }

.inspirion {
  grid-area: inspirion; }

.thinkpad {
  grid-area: thinkpad; }

.macbook {
  grid-area: macbook; }

.zbook {
  grid-area: zbook; }

.surfacebook {
  grid-area: surfacebook; }

.zephyrus {
  grid-area: zephyrus; }

.legion {
  grid-area: legion; }

.predator {
  grid-area: predator; }

.nitro {
  grid-area: nitro; }

.strix {
  grid-area: strix; }

.tuf {
  grid-area: tuf; }

.aero {
  grid-area: aero; }

.aorus {
  grid-area: aorus; }

.katana {
  grid-area: katana; }

.vivobook {
  grid-area: vivobook; }

.pavilion {
  grid-area: pavilion; }

.ideapad {
  grid-area: ideapad; }

.swift {
  grid-area: swift; }

.max {
  grid-area: max; }

.cloudbook {
  grid-area: cloudbook; }

.v15 {
  grid-area: v15; }

.modern {
  grid-area: modern; }

.flash {
  grid-area: flash; }

.galeria h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #302f4e;
  margin: 2.5rem 0 0 1.8rem; }

.galeria__tarjeta {
  border: solid 1px #cacaca;
  border-radius: 0.6rem;
  width: 23vw;
  display: flex;
  padding: 0.6rem; }
  .galeria__tarjeta:hover {
    background-color: #cacaca;
    transition: all 0.7s; }

.galeria__tarjeta h3 {
  font-size: 1.5rem;
  margin-top: 0.6rem;
  text-align: center; }

.galeria__img {
  height: 10vw; }

/* Media Queries para celular*/
@media only screen and (min-width: 320px) and (max-width: 575px) {
  /* Footer */
  footer {
    flex-direction: column; }
    footer p {
      text-align: center; }
      footer p span {
        display: block; }
  /* Index Título */
  .main--index h1 {
    margin: 0; }
  /* Index categorias */
  .categorias {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "gam"  "arq"  "ofi";
    row-gap: 1.25rem; }
    .categorias__img {
      height: auto;
      width: 75vw; }
  /* Index info */
  .info {
    margin: 3.1rem 0 3.1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "envios"  "garantia"  "credito"  "telefono";
    gap: 0.6rem; }
  /* Main Productos */
  .main--flex {
    flex-direction: column;
    align-items: center; }
  /* Estilo Menú Lateral */
  .lateral {
    width: auto;
    margin-top: 0;
    padding-bottom: 0; }
    .lateral h2 {
      text-align: center; }
    .lateral__lista li {
      text-align: center; }
  /* Productos galería */
  .galeria--prod {
    display: grid;
    grid-template-columns: repeat 2, 1fr;
    grid-template-areas: "productos" "aspire"  "inspirion"  "thinkpad" "macbook"  "zbook"  "surfacebook" "stealth"  "blade"  "notebook_9" "zephyrus"  "legion"  "predator" "nitro"  "strix"  "tuf" "aero" "aorus"  "katana" "vivobook"  "pavilion"  "ideapad" "swift"  "max"  "cloudbook" "v15"  "modern"  "flash";
    margin: 1.25rem;
    gap: 2vw; }
  .galeria__tarjeta {
    width: 80vw; }
  .galeria__img {
    height: 40vw; }
  /* Categorías galería */
  .galeria--cat {
    grid-template-columns: 1fr;
    grid-template-areas: "productos" "cat1"  "cat2"  "cat3"  "cat4" "cat5"  "cat6" "cat7"  "cat8"  "cat9";
    gap: 2vw; }
  /* Contacto */
  .mapa {
    height: 50vh; } }

/* Media Queries para tablet */
@media only screen and (min-width: 576px) and (max-width: 992px) {
  /* Footer */
  footer p {
    text-align: center; }
    footer p span {
      display: block; }
  /* Index Título */
  .main--index h1 {
    margin: 0; }
  /* Index categorias */
  .categorias {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "gam"  "arq"  "ofi";
    row-gap: 3.1rem; }
    .categorias__img {
      height: auto;
      width: 50vw; }
  /* Index info */
  .info {
    margin: 3.1rem 0 3.1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "envios garantia"  "credito telefono";
    gap: 0.6rem; }
  /* Estilo Menú Lateral */
  .lateral {
    margin-top: 0;
    padding-bottom: 0;
    width: auto; }
    .lateral h2 {
      text-align: center; }
    .lateral__lista li {
      text-align: center; }
  /* Productos galería */
  .galeria--prod {
    grid-template-columns: repeat 2, 1fr;
    grid-template-areas: "productos productos" "aspire inspirion"  "thinkpad macbook" "zbook surfacebook" "stealth blade"  "notebook_9 zephyrus" "legion predator" "nitro strix"  "tuf aero" "aorus katana" "vivobook pavilion"  "ideapad swift" "max cloudbook" "v15 modern"  "flash ."; }
  .galeria__tarjeta {
    width: 40vw; }
  .galeria__img {
    height: 20vw; }
  /* Categorías galería */
  .galeria--cat {
    grid-template-columns: repeat 2, 1fr;
    grid-template-areas: "productos productos" "cat1 cat2"  "cat3 cat4" "cat5 cat6" "cat7 cat8"  "cat9 ."; }
  /* Contacto */
  .mapa {
    height: 50vh; } }

/* Media Queries adicionales para arreglar el footer */
@media only screen and (min-width: 576px) and (max-width: 618px) {
  /* Footer */
  footer {
    flex-direction: column; }
    footer p {
      text-align: center; }
      footer p span {
        display: block; } }

/* Media queries adicionales para arreglar el grid de productos y en las categorías */
@media only screen and (min-width: 993px) and (max-width: 1130px) {
  /* Productos galería */
  .galeria--prod {
    grid-template-columns: repeat 2, 1fr;
    grid-template-areas: "productos productos" "aspire inspirion"  "thinkpad macbook" "zbook surfacebook" "stealth blade"  "notebook_9 zephyrus" "legion predator" "nitro strix"  "tuf aero" "aorus katana" "vivobook pavilion"  "ideapad swift" "max cloudbook" "v15 modern"  "flash ."; }
  .galeria__tarjeta {
    width: 30vw; }
  .galeria__img {
    height: 15vw; }
  /* Categorías galería */
  .galeria--cat {
    grid-template-columns: repeat 2, 1fr;
    grid-template-areas: "productos productos" "cat1 cat2"  "cat3 cat4" "cat5 cat6" "cat7 cat8"  "cat9 ."; } }

/* Media Queries adicionales para arreglar el header */
@media only screen and (min-width: 320px) and (max-width: 360px) {
  .header__navegacion {
    flex-direction: column; } }
