/* Estilo Main Index */

.main--index{
    @extend .flex-column;
    @extend .flex-items-center;
    h1{
        font-weight: 600;
        margin: 1.25rem 0 3.15rem 0;
        color: $violeta-principal;
    }
}

/* Estilo Categorias Index*/
.categorias{
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:"gam arq ofi";
    align-items: center;
    justify-items: center;
    padding: 1rem;
    &__gam{
        grid-area: gam;
    }
    
    &__arq{
        grid-area: arq;
    }
    
    &__ofi{
        grid-area:ofi;
    }
    
    &__img{
        height: 15vw;
        width:auto;
        &:hover{
            transform: scale(1.15,1.15);
            transition: all 0.25s;
        }
    }

    &__titulo{
        text-align: center;
        color: $naranja-principal;
        background-color: $violeta-principal;
        border-radius: 0.6rem;
        border: solid white 5px;
        &:hover{
            border: solid $naranja-principal 5px;
            transition: all 0.25s;
        }
    }

    &__tarjeta--gaming{
        grid-area: gam;
    }
    
    &__tarjeta--arquitectura{
        grid-area: arq;
    }
    
    &__tarjeta--oficina{
        grid-area: ofi
    }
}

/* Estilo info index */
.info{
    margin: 6rem 0 6rem 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "envios garantia credito telefono";
    gap: 10px;

    &__envios{
        grid-area: envios;
    }
    
    &__garantia{
        grid-area: garantia;
    }
    
    &__credito{
        grid-area: credito;
    }
    
    &__telefono{
        grid-area: telefono;
    }
    
    &__tarjetas{
        display:flex;
        align-items: center;
        justify-content: center;
        height: 3.01rem;
        padding:0.6px;
        width: 13.1rem;
        p{
        font-weight: 900;
        padding: 0.6rem;
        }
    }
}

.icono{
    font-size: 2rem;
}
