/* Estilo Main Index */

.main--index{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 50px;
        font-weight: 600;
        margin: 20px 0 50px 0;
        color: $violeta-principal;
    }
}

/* Estilo Categorias Index*/
.categorias{
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:"gam arq ofi";
    align-items: center;
    justify-items: center;
    padding: 16px;
    &__gam{
        grid-area: gam;
    }
    
    &__arq{
        grid-area: arq;
    }
    
    &__ofi{
        grid-area:ofi;
    }
    
    &__img{
        height: 15vw;
        width:auto;
        &:hover{
            transform: scale(1.15,1.15);
            transition: all 0.25s;
        }
    }

    &__tarjeta a h2{
        text-align: center;
        color: $naranja-principal;
        background-color: $violeta-principal;
        border-radius: 10px;
    }

    &__tarjeta--gaming{
        grid-area: gam;
    }
    
    &__tarjeta--arquitectura{
        grid-area: arq;
    }
    
    &__tarjeta--oficina{
        grid-area: ofi
    }
}

/* Estilo info index */
.info{
    margin: 100px 0 100px 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "envios garantia credito telefono";
    gap: 10px;

    &__envios{
        grid-area: envios;
    }
    
    &__garantia{
        grid-area: garantia;
    }
    
    &__credito{
        grid-area: credito;
    }
    
    &__telefono{
        grid-area: telefono;
    }
    
    &__tarjetas{
        display:flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        padding:10px;
        width: 210px;
        p{
        font-weight: 900;
        padding:10px;
        }
    }
}

.icono{
    font-size: 2rem;
}
