/* Estilo Galería */
.galeria--prod{
    display:grid;
    grid-template-columns: repeat (3,1fr);
    grid-template-rows: auto;
    grid-template-areas:"productos productos productos"
                        "aspire inspirion thinkpad"
                        "macbook zbook surfacebook"
                        "stealth blade notebook_9"
                        "zephyrus legion predator"
                        "nitro strix tuf"
                        "aero aorus katana"
                        "vivobook pavilion ideapad"
                        "swift max cloudbook"
                        "v15 modern flash";
    margin: 1.2rem;
    gap: 1vw;
}

.titulo--prod{
    grid-area:productos;
    text-align: center;
    font-size: 2.5rem;
}

.aspire{
    grid-area: aspire;
}

.inspirion{
    grid-area: inspirion;
}

.thinkpad{
    grid-area: thinkpad;
}

.macbook{
    grid-area: macbook;
}

.zbook{
    grid-area: zbook;
}

.surfacebook{
    grid-area: surfacebook;
}

.zephyrus{
    grid-area: zephyrus;
}

.legion{
    grid-area: legion;
}

.predator{
    grid-area: predator;
}

.nitro{
    grid-area: nitro;
}

.strix{
    grid-area: strix;
}

.tuf{
    grid-area: tuf;
}

.aero{
    grid-area: aero
}

.aorus{
    grid-area: aorus
}

.katana{
    grid-area: katana;
}

.vivobook{
    grid-area: vivobook;
}

.pavilion{
    grid-area: pavilion;
}

.ideapad{
    grid-area: ideapad;
}

.swift{
    grid-area: swift;
}

.max{
    grid-area: max;
}

.cloudbook{
    grid-area: cloudbook;
}

.v15{
    grid-area: v15;
}

.modern{
    grid-area: modern;
}

.flash{
    grid-area: flash;
}

.galeria{
    h1{
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        color:$violeta-principal;
        margin: 2.5rem 0 0 1.8rem;
    }

    &__tarjeta{
        border:solid 1px rgb(202, 202, 202);
        border-radius: 0.6rem;
        width: 23vw;
        display: flex;
        @extend .flex-column;
        @extend .flex-items-center;
        padding: 0.6rem;
        
        &:hover{
        background-color:rgb(202, 202, 202);
        transition: all 0.7s;
        }
    }

    &__tarjeta h3{
        font-size: 1.5rem;
        margin-top: 0.6rem;
        text-align: center;
    }

    &__img{
        height: 10vw;
    }
}