/* Estilo Menú Lateral */
.lateral{
    @extend .flex-column;
    width: 30vw;
    padding:16px;
    margin-top:50px;
    
    h2{
        text-decoration: underline;
    }

    &__lista{
        list-style: none;
        li{
            padding: 10px 0;
            font-size: 1.25rem;
            a{
                color:$violeta-principal;
                font-weight: 700;
                &:hover{
                    background-color: $violeta-principal;
                    padding:5px;
                    border-radius: 5px;
                    color: $naranja-principal;
                    transition: all 0.5s;
                }
            }
        }
    }
}