/* Estilo Header */
header{
    background-color: $violeta-principal;
    
    .header{
        &__logo{
            width: 16.55rem;
            padding: 1rem;
        }
        
        /* Menú de navegación */
        &__navegacion{
            display:flex;
            justify-content: flex-end;
        }
        
        &__item{
            font-size: 1.25rem;
            font-weight: 700;
            color:$naranja-principal;
            &:hover{
                text-decoration:underline;
                color:$naranja-principal;
            }
            &:focus{
                color:$naranja-principal;
            }
        }
    }
}

.dropdown-menu-dark{
    background-color: #544a68;
}

.dropdown-item{
    color: $naranja-principal;
    font-size: 1rem;
    font-weight: 600;
    &:hover{
        color:$violeta-principal;
        background-color: $naranja-principal-transparencia;
        border-radius: 0.25rem;
        transition: all 0.25s;
    }
}

.img__lupa{
    height: 1.5rem;
}

.btn{
    border: black 2px solid;
    &:hover{
        background-color: #ee8968;
        border:#ee8968 1px solid;
    }
}