/* Estilo Header */
header{
    background-color: $violeta-principal;
    
    .header{
        &__logo{
            width: 16.55rem;
            padding: 1rem;
        }
        
        /* Menú de navegación */
        &__navegacion{
            display:flex;
            justify-content: flex-end;
        }
        
        &__item{
            font-size: 1.25rem;
            font-weight: 700;
            color:$naranja-principal;
            &:hover{
                text-decoration:underline;
                color:$naranja-principal;
            }
        }
    }
}

.img__lupa{
    height: 1.5rem;
}

.btn{
    border:#ee8968 1px solid;
    &:hover{
        background-color: #ee8968;
        border:#ee8968 1px solid;
    }
}